logs/*
*/.vscode/*
*/.git/*
exp/*
.vscode
__pycache__/
*.egg-info/
ckpt/
image*
!nuplan-devkit/nuplan/database/utils/image.py
exp/
cache/
checkpoints/
results/
results_test/
result_l1/
_disposable_diagnostics/
tmp/
